@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  overscroll-behavior-y: none;
  -webkit-tap-highlight-color: transparent;
}

body {
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
}

* {
  -webkit-user-select: none;
  user-select: none;
}

input, textarea {
  -webkit-user-select: text;
  user-select: text;
}

::-webkit-scrollbar {
  display: none;
}
